footer{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 209px;
    margin-top: 80px;
    img{
        width: 5%;
    }
    p{
        color: white;
        margin-top: 15px;
    }
}

@media (max-width: 768px){
    footer{
        height: 110px;
        img{
            width: 50px;
        }
        p{
            font-size: 12px;
            margin-top: 10px;
        }
    }
}
